* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: Arial, sans-serif;
}

body {
  padding   : 0px 50px;
  background: #8800884f;
}


header {
  margin-top: 30px;
}

header .title {
  font-size: 30px;
}

header p {
  margin-top  : 5px;
  padding-left: 3px;
  font-size   : 16px;
  color       : #fff7;

}

main {
  margin-top: 50px;
}



ul {
  width                : 100%;
  display              : grid;
  gap                  : 10px;
  grid-template-columns: repeat(4, 1fr);

}

ul li {
  min-height      : 150px;
  border-radius   : 6px;
  list-style      : none;
  cursor          : pointer;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: #808a;
  transition      : all ease-out 150ms;

  &:hover {
    background-color: transparent;

    /* a {
      h3 {
        color: white;
      }

      p {
        color: white;
      }
    } */
  }

  & a {
    text-decoration: none;
    font-weight    : 600;

    h3 {
      font-size    : 16px;
      text-align   : center;
      margin-bottom: 10px;
      color        : #fff
    }

    p {
      font-size : 14px;
      text-align: center;
      color     : #e2dddd;
    }
  }
}